<%= form_with(model: feedback, url: admin_feedback_path(feedback), local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, size: 60 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, cols: 60, rows: 10 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
