<p id="notice"><%= notice %></p>

<h1>Feedbacks Admin</h1>

<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Updated At</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @feedbacks.each do |feedback| %>
    <tr>
      <td><%= feedback.title %></td>
      <td><%= feedback.description.truncate(20) %></td>
      <td><%= feedback.user.name %></td>
      <td><%= time_ago_in_words feedback.updated_at %> ago</td>
      <td><%= link_to 'Show', admin_feedback_path(feedback) %></td>
    </tr>
  <% end %>
  </tbody>
</table>
