<%= link_to 'Back to feedbacks', feedbacks_path %>

<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @feedback.title %>
</p>

<p>
  <strong>Description:</strong>
  <pre><%= @feedback.description %></pre>
</p>

<p>
  <strong>User:</strong>
  <%= @feedback.user.name %>
</p>

<p>
  <strong>Post At:</strong>
  <%= time_ago_in_words @feedback.created_at %> ago
</p>

<p>
  <strong>Updated At:</strong>
  <%= time_ago_in_words @feedback.updated_at %> ago
</p>

<%= link_to 'Edit', edit_feedback_path(@feedback) if current_user&.support? %>
<%= link_to 'Back to feedbacks', feedbacks_path %>
