<!DOCTYPE html>
<html>
  <head>
    <title>RailsMyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-align: center;"><a href="/">Feedback Service</a></h1>
    <hr>

    <%= yield %>

    <hr>
    <% if current_user %>
      <%= link_to 'Logout', logout_path %>
    <% end %>

    <% if Rails.env.development? %>
      <%= debug(params) %>
      <%= debug({"session[:user_id]" => session[:user_id]}) %>
    <% end %>
  </body>
</html>
