<!DOCTYPE html>
<html>
  <head>
    <title>RailsMyapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1 style="text-align: center;"><a href="/">Feedback Service</a></h1>

    <% if current_user %>
      <p style="float: left">
        Hi, <%= current_user.name %> (role: <%= current_user.role %>)
      </p>
      <p style="float: right">
        <%= link_to 'Logout', logout_path %>
      </p>
    <% else %>
      <p style="float: right">
      <%= link_to 'Login', login_path %> | <%= link_to 'Sign up', new_user_path %>
      </p>
    <% end %>

    <hr style="clear: both">

    <%= yield %>

  </body>
</html>
